body {
    background: #fff;
    font-family: Verdana;
    max-width: 700px;
    margin: auto;
}

#title {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: oblique;
    text-align: center;
}

#title, .subtitle, .post_title {
    color: #000000;
}

a {
    text-decoration:underline;
    color: #4063c5;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;

}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 10%;
    margin-bottom: 15px;
}

.img_Post {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: left;
}

.img_ilustracao {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 2px solid #505050;
}

.container{
    display: flex;
    flex-direction: column ;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: space-between;
    gap: 40px;

    
}

.content_1 {
    list-style-image: url("https://img.icons8.com/small/2x/share-2.png");
}

.content_2 {
    list-style-image: url("https://img.icons8.com/small/2x/linkedin.png");
}

.content_3 {
    list-style-image: url("https://img.icons8.com/small/2x/github.png");
}