* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
}


#title {
    display: flex;
    margin: auto;
    width: auto;
    min-width: 320px;
    max-width: 100%;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    justify-content: space-around;
    background-color: #2a7ae4;

}

#title img{
    padding: 5px #fff;
    display: flex;
    max-width: 100px;
    min-width: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:
        linear-gradient(45deg,
            #f09433 0%, #e6683c 25%,
            #dc2743 50%, #6902be 75%,
            #bc1888 100%);
}

#title h1{
    display: flex;
    align-self: flex-end;
    color: #fff;
}

#title, .subtitle, .post_title {
    color: #000000;
}

a {
    text-decoration:underline;
    color: #4063c5;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;

}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 10%;
    margin-bottom: 15px;
}

.img_Post {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: left;
}

.container{
    display: flex;
    flex-direction: column ;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: space-between;
    gap: 40px;

    
}


/* -------------------------- Rodapé ------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



footer {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    display: grid;
    place-items: center;
    height: 100vh;
    
}


/* ======================== */
.icons {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #242329;
    border-radius: 50%;
    outline: 2px solid #242329;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--mail:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

}

